<!DOCTYPE html>
<html lang='en-US'>

<head>
  <title>Next Editor</title>
  <link rel="manifest" href="/manifest.json" />
  <meta name="Description" content="Editor with git for everyone">
  <meta charset="utf8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />



  <link rel="stylesheet" href="https://unpkg.com/tailwindcss/dist/tailwind.min.css">
  <!--Replace with your tailwind.css once created-->

  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet">
  <link rel="preload" href="/main.js" as="text/javascript">
  <!-- Define your gradient here - use online tools to find a gradient matching your branding-->
  <style>

  </style>
  <!-- <style>
    html,
    body {
      overflow: hidden;
      width: 100vw;
      height: 100vh;
      margin: 0;
    }

    @media (max-width: 767px) {

      html,
      body {
        overflow: visible;
      }
    }
  </style> -->
</head>

<body class="leading-normal tracking-normal text-white gradient" style="font-family: 'Source Sans Pro', sans-serif;">
  <div class=root>

  </div>
  <script nomodule type=text/javascript>
  document.body.innerHTML = "Please use modern browser. (I checked to work only latest chrome)"
  </script>
  <script type=module>
  // relative path from root
  <%= require('fs').readFileSync('./src/_intro.js').toString() %>
  </script>

</body>

</html>